/.idea
*.cbp
CMakeCache.txt
CMakeFiles/
**/CMakeFiles/
cmake_install.cmake
**/cmake_install.cmake
Makefile
decNumber/libdecNumber.a
ionc/libionc.a
decNumber/libdecNumber.dylib
ionc/libionc.dylib
test/all_tests
tools/ionizer/ionizer
tools/ionsymbols/ionsymbols
build/
cmake-build-debug/
cmake-build-release/
install_manifest.txt
.vs/
CMakeSettings.json
CPack*
tools/cli/libion_cli.dylib
tools/cli/ion
tools/events/libion_events.dylib
