[submodule "ion-tests"]
	path = ion-tests
	url = https://github.com/amznlabs/ion-tests.git
[submodule "googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
	ignore = untracked
