[submodule "ion-tests"]
	path = ion-tests
	url = https://github.com/amzn/ion-tests.git
[submodule "googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
	ignore = untracked
[submodule "docopt"]
	path = tools/cli/docopt
	url = https://github.com/docopt/docopt.cpp.git
	ignore = untracked
